<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>708099110430-l27v6hijplcbsuj88edlvr6epppa01om.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.708099110430-l27v6hijplcbsuj88edlvr6epppa01om</string>
	<key>API_KEY</key>
	<string>AIzaSyDMcg_KdA0W9-k9Y1J9FTtCOK7Q2X_xe9Y</string>
	<key>GCM_SENDER_ID</key>
	<string>708099110430</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.petapplication.petApp</string>
	<key>PROJECT_ID</key>
	<string>petapp-50a43</string>
	<key>STORAGE_BUCKET</key>
	<string>petapp-50a43.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:708099110430:ios:28844d4671986c965ce00f</string>
	<key>DATABASE_URL</key>
	<string>https://petapp-50a43.firebaseio.com</string>
</dict>
</plist>